<ion-header>
  <ion-toolbar>
    <ion-title>order</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-card>
          <img src="/assets/letter.jpg" />
          <ion-card-header>
            <ion-card-subtitle>0.60 €</ion-card-subtitle>
            <ion-card-title>Brief</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Lorem ipsum dolor sit amet, consetetur sadipscing 
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <img src="/assets/package.jpg" />
          <ion-card-header>
            <ion-card-subtitle>2.50 €</ion-card-subtitle>
            <ion-card-title>Paket</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Lorem ipsum dolor sit amet, consetetur sadipscing 
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <img src="/assets/wahlzettel.jfif" />
          <ion-card-header>
            <ion-card-subtitle>50 €</ion-card-subtitle>
            <ion-card-title>Emergency</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Lorem ipsum dolor sit amet, consetetur sadipscing 
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <img src="/assets/sonstiges.jpg" />
          <ion-card-header>
            <ion-card-subtitle>1.80 €</ion-card-subtitle>
            <ion-card-title>Sonstiges</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Lorem ipsum dolor sit amet, consetetur sadipscing 
          </ion-card-content>
        </ion-card>
      </ion-col>
     
     
      </ion-row>
      </ion-grid>
</ion-content>
