<ion-header>
  <ion-toolbar>
    <ion-title>start</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="splashBody">
    <div class="splashScreen">
      <div class="loadingContainer">
  
        <div class="loadingBox">
          <img src="/assets/logo.svg" class="splashLogo">
          <h1>LogistikÖffi</h1>
          <div class="loader">
            <div class="loaderBar"></div>
          </div>
  
          <div class="join">
            <ion-button [routerLink]="['/timetable']">JOIN</ion-button>
          </div>
        </div>
  
  
      </div>
    </div>
    <div class="splashBehind">
      
    </div>
    <div class="splashBehindTwo">
      
    </div>
  </div>
  <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
  
</ion-content>
